In [3]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [4]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.

contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [7]:
# Extract the four-digit contact ID number.
contact_info_df['contact_id'] = contact_info_df['contact_info'].str.extract(r'(\d+)')
contact_info_df

,contact_info,contact_id
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199
...,...,...
995,"{""contact_id"": 3684, ""name"": ""Whitney Noack"", ""email"": ""whitney.noack@laboratorios.org""}",3684
996,"{""contact_id"": 5784, ""name"": ""Gelsomina Migliaccio"", ""email"": ""gelsomina.migliaccio@junk.com""}",5784
997,"{""contact_id"": 1498, ""name"": ""Evangelista Pereira"", ""email"": ""evangelista.pereira@thompson-peterson.biz""}",1498
998,"{""contact_id"": 6073, ""name"": ""Gareth Comolli"", ""email"": ""gareth.comolli@tiscali.fr""}",6073
999,"{""contact_id"": 4939, ""name"": ""Michelangelo Hess"", ""email"": ""michelangelo.hess@bouygtel.fr""}",4939

In [9]:
# Check the datatypes.
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
 1   contact_id    1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [11]:
# Convert the "contact_id" column to an int64 data type.
contact_info_df["contact_id"] = pd.to_numeric(contact_info_df["contact_id"])
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
 1   contact_id    1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [12]:
# Extract the name of the contact and add it to a new column.
contact_info_df["name"] = contact_info_df["contact_info"].str.extract(r'(?:"name":\s")(\w+\s\w+)')
contact_info_df

,contact_info,contact_id,name
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661,Cecilia Velasco
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765,Mariana Ellis
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187,Sofie Woods
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941,Jeanette Iannotti
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199,Samuel Sorgatz
...,...,...,...
995,"{""contact_id"": 3684, ""name"": ""Whitney Noack"", ""email"": ""whitney.noack@laboratorios.org""}",3684,Whitney Noack
996,"{""contact_id"": 5784, ""name"": ""Gelsomina Migliaccio"", ""email"": ""gelsomina.migliaccio@junk.com""}",5784,Gelsomina Migliaccio
997,"{""contact_id"": 1498, ""name"": ""Evangelista Pereira"", ""email"": ""evangelista.pereira@thompson-peterson.biz""}",1498,Evangelista Pereira
998,"{""contact_id"": 6073, ""name"": ""Gareth Comolli"", ""email"": ""gareth.comolli@tiscali.fr""}",6073,Gareth Comolli
999,"{""contact_id"": 4939, ""name"": ""Michelangelo Hess"", ""email"": ""michelangelo.hess@bouygtel.fr""}",4939,Michelangelo Hess

In [13]:
# Extract the email from the contacts and add the values to a new column.
contact_info_df["email"] = contact_info_df["contact_info"].str.extract(r'(?:"email":\s")(.+)(?:")')
contact_info_df

,contact_info,contact_id,name,email
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765,Mariana Ellis,mariana.ellis@rossi.org
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187,Sofie Woods,sofie.woods@riviere.com
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199,Samuel Sorgatz,samuel.sorgatz@gmail.com
...,...,...,...,...
995,"{""contact_id"": 3684, ""name"": ""Whitney Noack"", ""email"": ""whitney.noack@laboratorios.org""}",3684,Whitney Noack,whitney.noack@laboratorios.org
996,"{""contact_id"": 5784, ""name"": ""Gelsomina Migliaccio"", ""email"": ""gelsomina.migliaccio@junk.com""}",5784,Gelsomina Migliaccio,gelsomina.migliaccio@junk.com
997,"{""contact_id"": 1498, ""name"": ""Evangelista Pereira"", ""email"": ""evangelista.pereira@thompson-peterson.biz""}",1498,Evangelista Pereira,evangelista.pereira@thompson-peterson.biz
998,"{""contact_id"": 6073, ""name"": ""Gareth Comolli"", ""email"": ""gareth.comolli@tiscali.fr""}",6073,Gareth Comolli,gareth.comolli@tiscali.fr
999,"{""contact_id"": 4939, ""name"": ""Michelangelo Hess"", ""email"": ""michelangelo.hess@bouygtel.fr""}",4939,Michelangelo Hess,michelangelo.hess@bouygtel.fr

In [14]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.
cleaned_contact_df = contact_info_df[['contact_id', 'name', 'email']]
cleaned_contact_df

,contact_id,name,email
0,4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr
1,3765,Mariana Ellis,mariana.ellis@rossi.org
2,4187,Sofie Woods,sofie.woods@riviere.com
3,4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com
4,2199,Samuel Sorgatz,samuel.sorgatz@gmail.com
...,...,...,...
995,3684,Whitney Noack,whitney.noack@laboratorios.org
996,5784,Gelsomina Migliaccio,gelsomina.migliaccio@junk.com
997,1498,Evangelista Pereira,evangelista.pereira@thompson-peterson.biz
998,6073,Gareth Comolli,gareth.comolli@tiscali.fr
999,4939,Michelangelo Hess,michelangelo.hess@bouygtel.fr

In [15]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
cleaned_contact_df["first_name"] = cleaned_contact_df["name"].str.extract(r'(\w+)')
cleaned_contact_df["last_name"] = cleaned_contact_df["name"].str.extract(r'(?:\s)(\w+)')

# Drop the contact_name column
cleaned_contact_df = cleaned_contact_df[['contact_id', 'email', 'first_name', 'last_name']]
cleaned_contact_df

,contact_id,email,first_name,last_name
0,4661,cecilia.velasco@rodrigues.fr,Cecilia,Velasco
1,3765,mariana.ellis@rossi.org,Mariana,Ellis
2,4187,sofie.woods@riviere.com,Sofie,Woods
3,4941,jeanette.iannotti@yahoo.com,Jeanette,Iannotti
4,2199,samuel.sorgatz@gmail.com,Samuel,Sorgatz
...,...,...,...,...
995,3684,whitney.noack@laboratorios.org,Whitney,Noack
996,5784,gelsomina.migliaccio@junk.com,Gelsomina,Migliaccio
997,1498,evangelista.pereira@thompson-peterson.biz,Evangelista,Pereira
998,6073,gareth.comolli@tiscali.fr,Gareth,Comolli
999,4939,michelangelo.hess@bouygtel.fr,Michelangelo,Hess

In [16]:
# Reorder the columns
contact_info_df = cleaned_contact_df[['contact_id', 'first_name', 'last_name', 'email']]
contact_info_df

,contact_id,first_name,last_name,email
0,4661,Cecilia,Velasco,cecilia.velasco@rodrigues.fr
1,3765,Mariana,Ellis,mariana.ellis@rossi.org
2,4187,Sofie,Woods,sofie.woods@riviere.com
3,4941,Jeanette,Iannotti,jeanette.iannotti@yahoo.com
4,2199,Samuel,Sorgatz,samuel.sorgatz@gmail.com
...,...,...,...,...
995,3684,Whitney,Noack,whitney.noack@laboratorios.org
996,5784,Gelsomina,Migliaccio,gelsomina.migliaccio@junk.com
997,1498,Evangelista,Pereira,evangelista.pereira@thompson-peterson.biz
998,6073,Gareth,Comolli,gareth.comolli@tiscali.fr
999,4939,Michelangelo,Hess,michelangelo.hess@bouygtel.fr

In [17]:
# Check the datatypes one last time before exporting as CSV file.
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [18]:
# Export the DataFrame as a CSV file. 
contact_info_df.to_csv("Resources/contacts.csv", encoding='utf8', index=False)